header {
  background: mediumturquoise;
  color: white;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;

  nav a {
    margin-left: 10px;
  }
}

h1 {
    text-align: center;
}

.movie-grid {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;

  .movie-item {
    height: 290px;
    background: rgb(43, 43, 43);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 15px;

    > * {
      margin-bottom: 12px;

      &:first-child {
        font-weight: bold;
      }
    }

    .genres {
      list-style: none;
      padding: 0;
      
      li {
        font-size: 14px;
        margin-bottom: 2px;
      }
    }
  }
}